.status {
  font-weight: bold;
  padding: 4px 8px;
  font-size: 0.8rem;
  border-radius: 5px;
}

.soldOut {
  color: white;
  background-color: #ff6e69;
}

.sell {
  color: white;
  background-color: #488daa;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  background-color: #ffa948;
  border-radius: 5px;
  color: white;
  height: 1.8rem;
  margin-right: 1rem;
}
