.nav {
  background-color: #fff;
  padding: 1rem 2rem;
  border-bottom: 1px solid #eee;
}

.list {
  display: flex;
  gap: 8rem;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
}

.button {
  all: unset;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #f4f4f4;
}
