.sidebar {
  width: 165px;
  height: 100vh;
  background-color: white;
  border-right: 1px solid #cecece;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  position: fixed;
  z-index: 10;
}

.menuItem {
  display: block;
  margin-top: 5rem;
  text-decoration: none;
  text-align: center;
  color: black;
}

.menuItem:hover {
  font-weight: bold;
}

.active {
  font-weight: bold;
  text-decoration: underline;
}
