.breadcrumb {
  font-size: 1rem;
  font-weight: 500;
  margin-left: 2.1rem;
  padding-top: 1rem;
}

.link {
  all: unset;
  color: #333;
  cursor: pointer;
  font-weight: 500;
}

.link:hover {
  text-decoration: none;
}

.separator {
  color: #999;
}
