.signinMain {
  width: 100vw;
  min-height: 100vh;
  background: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signinSection {
  width: 600px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 24px rgba(38, 38, 38, 0.249);
  padding: 48px 56px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.signinTitle {
  font-weight: 700;
  font-size: 22px;
  margin: 0;
}

.signinDesc {
  font-weight: 400;
  font-size: 15px;
  color: #858585;
  margin: 5px 0 20px 0;
}

.signinForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.signinLabel {
  font-weight: 500;
  font-size: 18px;
}

.signinInput {
  width: 100%;
  box-sizing: border-box;
  margin: 8px 0;
  padding: 15px 20px;
  font-size: 15px;
  border: 1px solid #858585;
  border-radius: 10px;
  outline: none;
  font-weight: 500;
  color: #858585;
  background: #fff;
}

.signinBtn {
  width: 100%;
  margin-top: 8px;
  padding: 18px 0;
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  background: #ffa948;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.signinLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.signinLinkBtn {
  font-weight: 400;
  font-size: 13px;
  color: #000;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
