.signinForm {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.signinLabel {
  font-weight: 500;
  font-size: 15px;
}

.signinInput {
  width: 100%;
  box-sizing: border-box;
  margin: 8px 0;
  padding: 15px 20px;
  font-size: 13px;
  border: 1px solid #858585;
  border-radius: 10px;
  outline: none;
  font-weight: 500;
  color: #858585;
  background: #fff;
}

.signinBtn {
  width: 100%;
  margin-top: 8px;
  padding: 18px 0;
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  background: #ffa948;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
