.signinMain {
  width: 100vw;
  min-height: 100vh;
  background: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 27px;
}

.signinSection {
  width: 400px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 24px rgba(38, 38, 38, 0.249);
  padding: 48px 56px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.signinTitle {
  font-weight: 600;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.signinDesc {
  font-weight: 400;
  font-size: 13px;
  color: #858585;
  margin: 5px 0 20px 0;
}
