.header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  background: #fff;
  justify-content: space-between;
  padding: 0 30px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.headerLeft {
  display: flex;
  align-items: center;
}

.headerLogo {
  height: 30px;
}

.headerIcon {
  height: 30px;
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 30px;
}

.loginBtn,
.signupBtn,
.cartBtn,
.myPageBtn {
  cursor: pointer;
  text-decoration: none;
  color: #000;
  font-size: 12px;
  cursor: pointer;
  border: none;
}

@media (max-width: 712px) {
  .headerLogo {
    display: none;
  }
}

@media (min-width: 712px) {
  .headerIcon {
    display: none;
  }
}
